2/moviesCollection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="MoviesCollection-NS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="MoviesCollection-NS">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="MoviesCollection-NS">
      <complexType name="ArrayOfString">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="string[]"/>
          </restriction>
        </complexContent>
      </complexType>
    </schema>
  </types>
  <message name="getMoviesRequest">
  </message>
  <message name="getMoviesResponse">
    <part name="result" type="xsd:string">
  </part>
  </message>
  <message name="addMovieRequest">
    <part name="name" type="xsd:string">
  </part>
    <part name="year" type="xsd:integer">
  </part>
  </message>
  <message name="addMovieResponse">
    <part name="result" type="xsd:string">
  </part>
  </message>
  <message name="rateMovieRequest">
    <part name="movieID" type="xsd:integer">
  </part>
    <part name="rating" type="xsd:integer">
  </part>
  </message>
  <message name="rateMovieResponse">
    <part name="result" type="xsd:string">
  </part>
  </message>
  <message name="deleteMovieRequest">
    <part name="movieID" type="xsd:integer">
  </part>
  </message>
  <message name="deleteMovieResponse">
    <part name="result" type="xsd:string">
  </part>
  </message>
  <message name="addFavoriteRequest">
    <part name="movieID" type="xsd:integer">
  </part>
  </message>
  <message name="addFavoriteResponse">
    <part name="result" type="xsd:string">
  </part>
  </message>
  <message name="getFavoritesRequest">
</message>
  <message name="getFavoritesResponse">
    <part name="result" type="xsd:string">
  </part>
  </message>
  <portType name="MoviesCollection">
    <operation name="getMovies">
      <input message="tns:getMoviesRequest"/>
      <output message="tns:getMoviesResponse"/>
    </operation>
    <operation name="addMovie">
      <input message="tns:addMovieRequest"/>
      <output message="tns:addMovieResponse"/>
    </operation>
    <operation name="rateMovie">
      <input message="tns:rateMovieRequest"/>
      <output message="tns:rateMovieResponse"/>
    </operation>
    <operation name="deleteMovie">
      <input message="tns:deleteMovieRequest"/>
      <output message="tns:deleteMovieResponse"/>
    </operation>
    <operation name="addFavorite">
      <input message="tns:addFavoriteRequest"/>
      <output message="tns:addFavoriteResponse"/>
    </operation>
    <operation name="getFavorites">
      <input message="tns:getFavoritesRequest"/>
      <output message="tns:getFavoritesResponse"/>
    </operation>
  </portType>
  <binding name="MoviesCollectionBinding" type="tns:MoviesCollection">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getMovies">
      <soap:operation soapAction="urn:MoviesCollection#getMovies" style="rpc"/>
      <input>
        <soap:body namespace="urn:MoviesCollection"/>
      </input>
      <output>
        <soap:body namespace="urn:MoviesCollection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </output>
    </operation>
    <operation name="addMovie">
      <soap:operation soapAction="urn:MoviesCollection#addMovie" style="rpc"/>
      <input>
        <soap:body namespace="urn:MoviesCollection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </input>
      <output>
        <soap:body namespace="urn:MoviesCollection"/>
      </output>
    </operation>
    <operation name="rateMovie">
      <soap:operation soapAction="urn:MoviesCollection#rateMovie" style="rpc"/>
      <input>
        <soap:body namespace="urn:MoviesCollection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </input>
      <output>
        <soap:body namespace="urn:MoviesCollection"/>
      </output>
    </operation>
    <operation name="deleteMovie">
      <soap:operation soapAction="urn:MoviesCollection#deleteMovie" style="rpc"/>
      <input>
        <soap:body namespace="urn:MoviesCollection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </input>
      <output>
        <soap:body namespace="urn:MoviesCollection"/>
      </output>
    </operation>
    <operation name="addFavorite">
      <soap:operation soapAction="urn:MoviesCollection#addFavorite" style="rpc"/>
      <input>
        <soap:body namespace="urn:MoviesCollection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </input>
      <output>
        <soap:body namespace="urn:MoviesCollection"/>
      </output>
    </operation>
    <operation name="getFavorites">
      <soap:operation soapAction="urn:MoviesCollection#getFavorites" style="rpc"/>
      <input>
        <soap:body namespace="urn:MoviesCollection"/>
      </input>
      <output>
        <soap:body namespace="urn:MoviesCollection" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="MoviesCollection">
    <documentation/>
    <port name="MoviesCollection" binding="tns:MoviesCollectionBinding">
      <soap:address location="http://localhost:27015"/>
    </port>
  </service>
</definitions>
